/* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
    background: var(--secondary-color);
    text-shadow: 0 0 0 #000;
    cursor: pointer;
    /* height: 1.5rem; */
/* border: none; */
/* margin: 2px; */
/* border-radius: 100%; */
/* padding: 0.1rem; */
/* border-radius: 12px; */
/* } */

select {
    background: var(--secondary-color);
    border: none;
    /* color: var(--background-color); */
}