{% load static %}
{% load i18n %}


<div class="container" id="paper">
	<div class="d-flex justify-content-center">
		<div class="col-md-offset-3">
			<h2>{% translate "Account deleted!" %}</h2>
			<div class="text-center" style="background-color:#f1f1f1; padding: 15px; margin-top: 20px;">
				<p><a href="/settings/" onclick="loadPageEvent(event, '/login/')">{% translate "OK" %}</a></p>
			</div>
		</div>
	</div>
</div>

{% block javascripts %}
	<script src="{% static 'authentication/utils.js' %}"></script>
	<script src="{% static 'authentication/cookies.js' %}"></script>
{% endblock %}