{% load static %}
{% load i18n %}


<div class="container" id="paper">
	<div class="d-flex justify-content-center">
		<div class="col-md-6 col-md-offset-3">
			<h2>{% translate "Login" %}</h2>
			<form action="/login/" method="post" class="form-horizontal" id="login">
				<div class="form-group">
					<label for="login" class="control-label">{% translate "Login Name" %}</label>
					<input
						type="text" class="col-sm-9 form-control"
						{% if login != None %}
							value="{{ login }}"
						{% endif %}
						placeholder="{% translate 'Enter login name' %}" name="login" required autocomplete>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-3 control-label">{% translate "Password" %}</label>
					<input
						type="password" class="col-sm-9 form-control"
						placeholder="{% translate 'Enter Password' %}" name="password" required>
				</div>
				{% if error != None %}
					<code>{% translate error %}</code>
				{% endif %}
				<div class="form-group"> 
					<button
						type="submit"
						class="col-sm-offset-3 col-sm-5 btn btn-primary btn-block"
						onclick="fetchForm(event, 'login');"
					>
							{% translate "Login" %}
					</button>
				</div>

				<div class="text-center" style="background-color:#f1f1f1; padding: 15px; margin-top: 20px;">
					<p>{% translate "No account yet ?" %} <a href="{% url 'register' %}" onclick="loadPageEvent(event, '{% url 'register' %}')">{% translate "Create one" %}</a></p>
					<p>
						{% translate "Or" %}
						<a
							target="_blank"
							onclick="checkSession();"
							href="{{ domain_name }}"
						>
							{% translate "login with 42" %}
						</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>

{% block javascripts %}
	<script src="{% static 'authentication/utils.js' %}"></script>
	<script src="{% static 'authentication/cookies.js' %}"></script>
{% endblock %}