{% load static %}
{% load i18n %}
<div class="container">
	<div class="d-flex justify-content-center">
		<div class="col-md-6 col-md-offset-3">
			<h2>{% translate "Register" %}</h2>
			<form action="" method="post" class="form-horizontal" id="register">
				<div class="form-group">
					<label for="login" class="control-label">{% translate "Login Name" %}</label>
					<input 
						type="text" class="col-sm-9 form-control" id="login" name="login"
						{% if login != None %}
							value="{{ login }}"
						{% endif %}
						placeholder="{% translate 'Enter login name' %}" required
					>
				</div>

				<div class="form-group">
					<label for="first_name" class="control-label">{% translate "First Name" %}</label>
					<input
						type="text" class="col-sm-9 form-control" id="first_name" name="first_name"
						{% if first_name != None %}
							value="{{ first_name }}"
						{% endif %}
						placeholder="{% translate 'Enter your first name' %}" required
					>
				</div>

				<div class="form-group">
					<label for="last_name" class="control-label">{% translate "Last Name" %}</label>
					<input
						type="text" class="col-sm-9 form-control" id="last_name" name="last_name"
						{% if last_name != None %}
							value="{{ last_name }}"
						{% endif %}
						placeholder="{% translate 'Enter your last name' %}" required>
				</div>

				<div class="form-group">
					<label for="password" class="control-label">{% translate "Password" %}</label>
					<input type="password" class="col-sm-9 form-control" id="password" name="password" placeholder="{% translate 'Enter Password' %}" required>
				</div>
				{% if error != None %}
					<code>{% translate error %}</code>
				{% endif %}
				<div class="form-group">
					<div class="">
						<button
							type="submit"
							class="col-sm-offset-3 col-sm-5 btn btn-primary btn-block"
							onclick="fetchForm(event, 'register');"
						>
								{% translate "Register" %}
						</button>
					</div>
				</div>
			</form>

			<div class="text-center" style="background-color:#f1f1f1; padding: 15px; margin-top: 20px;">
				<p>{% translate "You already have an account?" %} <a href="{% url 'login' %}" onclick="loadPageEvent(event, '{% url 'login' %}')">{% translate "Login" %}</a></p>
				<p>
					{% translate "Or maybe" %}
					<a
						target="_blank"
						onclick="checkSession();"
						href="{{ domain_name }}"
					>
						{% translate "login with 42" %}
					</a>
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Latest compiled and minified JavaScript -->
{% block javascripts %}
	<script src="{% static 'authentication/utils.js' %}"></script>
{% endblock %}
{% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> {% endcomment %}