/* .usr-img {
	height: 1rem;
	width: 1rem;
}

img {
	border-radius: 50%;
} */


#userComponent {
	width: fit-content;
	height: fit-content;
	padding: .2rem;
	/* background-color: #E1E0DD; */
	/* margin-left: 3px; */
	/* border: solid black 2px; */
}

#userComponent:hover {
	background-color: var(--fourth-color);
	opacity: 60%;
}

