{% load static %}
{% load i18n %}
<script src="{% static 'pong/online/rendu3d.js' %}"></script>
<div class="rounded-3 m-2 d-flex flex-column justify-content-between align-items-center" style="overflow: visible; width: 100%; max-width: 35vh;">
    <div class="rounded-2" id="center-div" style="width: 100%; display: block; height: auto; aspect-ratio: 1 / 1; background-color: var(--fourth-color);"
        data-max-players="{{ game.maxPlayers }}">
        {% if online == False %}
            {% if game.maxPlayers == 2%}
            <input type="hidden" name="pageKey" value="rendu3d2pOfflineMain">
            <script src="{% static 'pong/local/rendu3d2p.js' %}"></script>
            {% else %}
            <input type="hidden" name="pageKey" value="rendu3d4pOfflineMain">
            <script src="{% static 'pong/local/rendu3d4p.js' %}"></script>
            {% endif %}
        {% else %}
        <script src="{% static 'pong/online/onlinePong.js' %}"></script>
        {% if game.maxPlayers == 2 %}
            <input type="hidden" name="pageKey" value="rendu3d2pMain">
            <script src="{% static 'pong/online/rendu3d2p.js' %}"></script>
        {% else %}
            <input type="hidden" name="pageKey" value="rendu3d4pMain">
            <script src="{% static 'pong/online/rendu3d4p.js' %}"></script>
        {% endif %}
        {% endif %}
    </div>
    {% if online == False and game.maxPlayers == 2 %}
    <div id="winner-msg-content" class="d-flex align-items-center justify-content-center" style="font-size: small;">
        {% translate "Player" %}
    <div id="winner-msg" style="margin-left: .5rem; margin-right: .5rem;"></div>
    {% translate "won!"%}
    </div>
    {% endif %}
</div>

<script>
    function resizeCenterDiv() {
        const centerDiv = document.getElementById('center-div');
        const parentWidth = centerDiv.offsetWidth;
        centerDiv.style.height = `${parentWidth}px`;
    }
    resizeCenterDiv();
    window.addEventListener('resize', resizeCenterDiv);
</script>