{% load static %}
{% load i18n %}
<script src="{% static 'pong/pong.js' %}"></script>

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'pong/local/pong2D.css' %}">
{% endblock %}

{% if online == False %}
<div id="local-rotate" style="display: grid; place-items: center" class="{% if game.maxPlayers == 4 %} local-rotate-4p {% endif %}">
{% else %}
<div style="display: grid; place-items: center">
{% endif %}

{% if online == True %}
<input type="hidden" name="gameId" value="{{game.gameId}}">
<div id="wrapper" class="online-wrapper">
{% else %}
<div id="wrapper" class="local-wrapper">
{% endif %}

    {% if online == True %}
    <div id="pong-main-content-online" class="pong-main-content d-flex justify-content-center align-items-center rounded-4">
    <button onpointerdown="showHideNavbar()" id="onlineFullScreen" class="rounded-2 onlineFullScreen {% if game.maxPlayers == 4 %} onlineFullScreen-4p {% endif %}">
        <!-- <i class="fas fa-solid fa-bars"></i> -->
        Toggle Menu
    </button>
    <!-- <button onpointerdown="showNavbar()" id="exitFullScreen" class="rounded-2"><i class="fas fa-solid fa-xmark"></i></button> -->
    {% else %}
    <div id="pong-main-content-local" class="{% if game.maxPlayers == 2 %} pong-main-content {% else %} pong-main-content-4p {% endif %} d-flex justify-content-center align-items-center rounded-4">
    {% endif %}

    {% if online == False %}
        {% if game.maxPlayers == 4 %}
            <div id="left-arrows" class="local-arrows-left-4p local-arrows d-flex align-items-center justify-content-center">
        {% else %}
            <div id="left-arrows" class="local-arrows local-arrows-left d-flex align-items-center">
        {% endif %}
        <button onpointerdown="enterFullScreen()" id="enterFullScreen" class="rounded-2 {% if game.maxPlayers == 4 %} fullScreen-btn-4P {% else %} fullScreen-btn-2P {% endif %}"><i class="fas fa-solid fa-expand"></i></button>
        <button onpointerdown="exitFullScreen()" id="exitFullScreen" class="rounded-2 {% if game.maxPlayers == 4 %} fullScreen-btn-4P {% else %} fullScreen-btn-2P {% endif %}"><i class="fas fa-solid fa-xmark"></i></button>
        {% if game.maxPlayers == 4 %}
            {% if render == False %}
            <!-- <button onpointerdown="clickDown('s', 's')" onpointerup="resetClick('s')" onpointercancel="resetClick('s')" id="left-arrows-up-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
            <button onpointerdown="clickDown('s', 's')" onpointerup="resetClick('s')" id="left-arrows-up-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">    
            {% else %}
            <!-- <button onpointerdown="clickDown3d4p('s', 's')" onpointerup="resetClick('s')" onpointercancel="resetClick('s')" id="left-arrows-up-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
            <button onpointerdown="clickDown3d4p('s', 's')" onpointerup="resetClick('s')" id="left-arrows-up-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
            {% endif %}
        {% else %}
            {% if render == False %}
            <button onpointerdown="clickDown('s', 'button1');" onpointerup="resetClick('button1');" onpointercancel="resetClick('button1');" id="left-arrows-up-2p-2d" class="m-2 arrows-btn rounded-2">
            <!-- <button onpointerdown="clickDown('s', 'button1');" onpointerup="resetClick('button1');" id="left-arrows-up-2p-2d" class="m-2 arrows-btn rounded-2"> -->
            {% else %}
            <!-- <button onpointerdown="clickDown3d2p('s', 'leftUp')" onpointerup="resetClick('leftUp')" onpointercancel="resetClick('leftUp')" id="left-arrows-up-2p-3d" class="m-2 arrows-btn rounded-2"> -->
            <button onpointerdown="clickDown3d2p('s', 'leftUp')" onpointerup="resetClick('leftUp')" id="left-arrows-up-2p-3d" class="m-2 arrows-btn rounded-2">
            {% endif %}
        {% endif %}
                <i class="fas fa-solid fa-arrow-left"></i>
            </button>
        {% if game.maxPlayers == 4 %}
            {% if render == False %}
            <!-- <button onpointerdown="clickDown('w', 'w')" onpointerup="resetClick('w')" onpointercancel="resetClick('w')" id="left-arrows-down-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
            <button onpointerdown="clickDown('w', 'w')" onpointerup="resetClick('w')" id="left-arrows-down-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
            {% else %}
            <!-- <button onpointerdown="clickDown3d4p('w', 'w')" onpointerup="resetClick('w')" onpointercancel="resetClick('w')" id="left-arrows-down-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
            <button onpointerdown="clickDown3d4p('w', 'w')" onpointerup="resetClick('w')" id="left-arrows-down-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
            {% endif %}
        {% else %}
            {% if render == False %}
            <button onpointerdown="clickDown('w', 'button2');" onpointerup="resetClick('button2');" onpointercancel="resetClick('button2');" id="left-arrows-down-2p-2d" class="m-2 arrows-btn rounded-2">
            <!-- <button onpointerdown="clickDown('w', 'button2');" onpointerup="resetClick('button2');" id="left-arrows-down-2p-2d" class="m-2 arrows-btn rounded-2"> -->
            {% else %}
            <!-- <button onpointerdown="clickDown3d2p('w', 'leftDown')" onpointerup="resetClick('leftDown')" onpointercancel="resetClick('leftDown')" id="left-arrows-down-2p-3d" class="m-2 arrows-btn rounded-2"> -->
            <button onpointerdown="clickDown3d2p('w', 'leftDown')" onpointerup="resetClick('leftDown')" id="left-arrows-down-2p-3d" class="m-2 arrows-btn rounded-2">
            {% endif %}
        {% endif %}
                <i class="fas fa-solid fa-arrow-right"></i>
            </button>
        </div>
    {% endif %}

        {% if game.maxPlayers == 4 %}
            {% if online == True %}
                <div id="score3" class="score-4p score-4p-left score-4p-left-online">5</div>
            {% else %}
                <div id="score1" class="score-4p score-4p-left">5</div>
            {% endif %}
        {% endif %}

    {% if online == True %}
    <div id="center-div-online" class="center-div d-flex flex-column justify-content-center align-items-center m-2">
    {% else %}
    {% if game.maxPlayers == 4 %}
    <div id="center-div-local-4p" class="center-div-local-4p center-div d-flex flex-column justify-content-center align-items-center">
    {% else %}
    <div id="center-div-local" class="center-div-local-2p center-div d-flex flex-column justify-content-center align-items-center">
    {% endif %}

    {% endif %}
 
    {% if online or not online and game.maxPlayers == 2 %}
        {% if online == True %}
            <div id="scores-online" class="scores d-flex justify-content-center align-items-center">
        {% else %}
            <div id="scores-local" class="scores scores-local-2p d-flex justify-content-center align-items-center">
        {% endif %}
                <div class="mx-sm-4 mx-2 {% if online == True and game.maxPlayers == 2 %} d-flex flex-column justify-content-between align-items-center {% endif %}">
                    {% if online == True and game.maxPlayers == 2 %}
                    <img id="player1" src="" alt="player 1 avatar" class="user-img d-flex justify-content-center align-items-center"/>
                    {% endif %}
                    {% if game.maxPlayers == 2 %}
                    <div id="score1" class="score1 score score-local {% if online == True %} score-online {% endif %}">
                        {{game.score.0}}
                    </div>
                    {% endif %}
                </div>
                <div class="mx-sm-4 mx-2 {% if online == True and game.maxPlayers == 2 %} d-flex flex-column justify-content-between align-items-center {% endif %}">
                    {% if online == True and game.maxPlayers == 2 %}
                    <!-- <div id="player2" class="d-flex justify-content-center align-items-center"></div> -->
                    <img id="player2" src="" alt="player 2 avatar" class="user-img d-flex justify-content-center align-items-center"/>
                    {% endif %}
                    {% if game.maxPlayers == 2 %}
                    <div id="score2" class="score2 score score-local {% if online == True %} score-online {% endif %}">
                        {{game.score.1}}
                    </div>
                    {% endif %}
                </div>
            </div>
    {% endif %}
    
        {% if online == False %}
            {% if game.maxPlayers == 4 %}
            <div id="up-arrows-4p" class="d-flex align-items-center">
                {% if render == False %}
                <!-- <button onpointerdown="clickDown('ArrowLeft', 'ArrowLeft')" onpointerup="resetClick('ArrowLeft')" onpointercancel="resetClick('ArrowLeft')" id="top-arrows-left-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
                <button onpointerdown="clickDown('ArrowLeft', 'ArrowLeft')" onpointerup="resetClick('ArrowLeft')" id="top-arrows-left-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
                {% else %}
                <!-- <button onpointerdown="clickDown3d4p('ArrowLeft', 'ArrowLeft')" onpointerup="resetClick('ArrowLeft')" onpointercancel="resetClick('ArrowLeft')" id="top-arrows-left-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
                <button onpointerdown="clickDown3d4p('ArrowLeft', 'ArrowLeft')" onpointerup="resetClick('ArrowLeft')" id="top-arrows-left-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
                {% endif %}
                    <i class="fas fa-solid fa-arrow-left"></i>
                </button>
                {% if render == False %}
                <!-- <button onpointerdown="clickDown('ArrowRight', 'ArrowRight')" onpointerup="resetClick('ArrowRight')" onpointercancel="resetClick('ArrowRight')" id="top-arrows-right-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
                <button onpointerdown="clickDown('ArrowRight', 'ArrowRight')" onpointerup="resetClick('ArrowRight')" id="top-arrows-right-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
                {% else %}
                <!-- <button onpointerdown="clickDown3d4p('ArrowRight', 'ArrowRight')" onpointerup="resetClick('ArrowRight')" onpointercancel="resetClick('ArrowRight')" id="top-arrows-right-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">               -->
                <button onpointerdown="clickDown3d4p('ArrowRight', 'ArrowRight')" onpointerup="resetClick('ArrowRight')" id="top-arrows-right-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
                {% endif %} 
                    <i class="fas fa-solid fa-arrow-right"></i>
                </button>
            </div>
            {% endif %}
        {% endif %}

        {% if online == True %}
            <div class="pong-board-online"></div>
        {% endif %}
            {% if game.maxPlayers == 4 %}
                {% if online == True %}
                    <div id="score2" class="score-4p score-4p-up">5</div>
                {% else %}
                    <div id="score3" class="score-4p score-4p-up">5</div>
                {% endif %}
            {% endif %}

        {% if render == False %}
            {% include "pong/2DBoard.html" %}
        {% else %}
            {% include "pong/3DBoard.html" %}
        {% endif %}

        {% if online == True %}
            <div class="pong-board-online"></div>
        {% endif %}
        {% if game.maxPlayers == 4 %}
            {% if online == True %}
                <div id="score1" class="score-4p score-4p-down">5</div>
            {% else %}
                <div id="score4" class="score-4p score-4p-down">5</div>
            {% endif %}
        {% endif %}

        {% if online == False %}
            {% if game.maxPlayers == 4 %}
            <div id="down-arrows-4p" class="d-flex align-items-center">
                {% if render == False %}
                <!-- <button onpointerdown="clickDown('a', 'a')" onpointerup="resetClick('a')" onpointercancel="resetClick('a')" id="bottom-arrows-left-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
                <button onpointerdown="clickDown('a', 'a')" onpointerup="resetClick('a')" id="bottom-arrows-left-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
                {% else %}
                <!-- <button onpointerdown="clickDown3d4p('a', 'a')" onpointerup="resetClick('a')" onpointercancel="resetClick('a')" id="bottom-arrows-left-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
                <button onpointerdown="clickDown3d4p('a', 'a')" onpointerup="resetClick('a')" id="bottom-arrows-left-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
                {% endif %}     
                    <i class="fas fa-solid fa-arrow-left"></i>
                </button>
                {% if render == False %}
                <!-- <button onpointerdown="clickDown('d', 'd')" onpointerup="resetClick('d')" onpointercancel="resetClick('d')" id="bottom-arrows-right-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
                <button onpointerdown="clickDown('d', 'd')" onpointerup="resetClick('d')" id="bottom-arrows-right-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
                {% else %}
                <!-- <button onpointerdown="clickDown3d4p('d', 'd')" onpointerup="resetClick('d')" onpointercancel="resetClick('d')" id="bottom-arrows-right-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
                <button onpointerdown="clickDown3d4p('d', 'd')" onpointerup="resetClick('d')" id="bottom-arrows-right-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
                {% endif %}
                    <i class="fas fa-solid fa-arrow-right"></i>
                </button>
            </div>
            {% endif %}
        {% endif %}
    

        <!-- <div id="winner-msg"></div> -->
        {% if online == False %}
            {% if game.maxPlayers == 2 %}
                {% if render == False %}
                    <button id="start-btn" class="btn btn-lg start-btn-2p" onpointerdown="of2p_gameLoop()">
                {% else %}
                    <button id="start-btn" class="btn btn-lg start-btn-2p" onpointerdown="of3d2p_gameLoop()">
                {% endif %}
            {% else %}
                {% if render == False %}
                    <button id="start-btn" class="btn btn-lg start-btn-4p" onpointerdown="of4p_gameLoop()">
                {% else %}
                    <button id="start-btn" class="btn btn-lg start-btn-4p" onpointerdown="of3d4p_gameLoop()">
            {% endif %}
        {% endif %}

            start
        </button>

        {% if game.maxPlayers == 4 %}
        <div id="rules" class="rules-4p">
        {% else %}
        <div id="rules" class="rules-2p">
        {% endif %}

            <div class="d-flex justify-content-center align-items-center mb-2">
                <div class="flex-shrink-0 d-flex justify-content-center align-items-center mx-2">
                    Left player:
                    <div class="rule px-1 rounded-2 mx-1">w</div>
                    <div class="rule px-1 rounded-2">s</div>
                </div>
                <div class="flex-shrink-0 d-flex justify-content-center align-items-center mx-2">
                    Right player:
                    <div class="rule px-1 rounded-2 mx-1"><i class="rule-arrow fas fa-solid fa-arrow-up" style="color: var(--secondary-color);"></i></div>
                    <div class="rule px-1 rounded-2"><i class="rule-arrow fas fa-solid fa-arrow-down" style="color: var(--secondary-color);"></i></div>
                </div>
            </div>
            {% if game.maxPlayers == 4 %}
            <div class="d-flex justify-content-center align-items-center mt-1 mb-1">
                <div class="flex-shrink-0 d-flex justify-content-center align-items-center mx-2">
                    Top player:
                    <div class="rule px-1 rounded-2 mx-1"><i class="rule-arrow fas fa-solid fa-arrow-left" style="color: var(--secondary-color);"></i></div>
                    <div class="rule px-1 rounded-2"><i class="rule-arrow fas fa-solid fa-arrow-right" style="color: var(--secondary-color);"></i></div>
                </div>
                <div class="flex-shrink-0 d-flex justify-content-center align-items-center mx-2">
                    Bottom player:
                    <div class="rule px-1 rounded-2 mx-1">a</i></div>
                    <div class="rule px-1 rounded-2">d</i></div>
                </div>
            <!-- <div  class="d-flex justify-content-center align-items-center">-->
            </div>
            {% endif %}
        </div>

        {% else %}        
        <div id="online-arrows" class="flex-shrink-1 d-flex align-items-center mb-3">
            <!-- <button onpointerdown="movePaddle(-1, 'button1')" onpointerup="resetClick('button1')" onpointercancel="resetClick('button1')" id="online-left-arrow" class="m-2 arrows-btn rounded-2 mx-4"> -->
            <button onpointerdown="movePaddle(-1, 'button1')" onpointerup="resetClick('button1')" id="online-left-arrow" class="m-2 arrows-btn rounded-2 mx-4">
                <i class="fas fa-solid fa-arrow-left"></i>
            </button>
            <!-- <button onpointerdown="movePaddle(1, 'button2')" onpointerup="resetClick('button2')" onpointercancel="resetClick('button2')" id="online-right-arrow" class="m-2 arrows-btn rounded-2 mx-4"> -->
            <button onpointerdown="movePaddle(1, 'button2')" onpointerup="resetClick('button2')" id="online-right-arrow" class="m-2 arrows-btn rounded-2 mx-4">
                <i class="fas fa-solid fa-arrow-right"></i>
            </button>
        </div>
        {% endif %}

    </div>
    
    {% if game.maxPlayers == 4 %}
        {% if online == True %}
            <div id="score4" class="score-4p score-4p-right score-4p-right-online">5</div>
        {% else %}
            <div id="score2" class="score-4p score-4p-right">5</div>
        {% endif %}
    {% endif %}
    {% if online == False %}
        {% if game.maxPlayers == 4 %}
            <div id="right-arrows" class="local-arrows-right-4p local-arrows d-flex justify-content-center align-items-center">
        {% else %}
            <div id="right-arrows" class="local-arrows local-arrows-right d-flex justify-content-center align-items-center">
        {% endif %}
        {% if game.maxPlayers == 4 %}
            {% if render == False %}
            <!-- <button onpointerdown="clickDown('ArrowDown', 'ArrowDown')" onpointerup="resetClick('ArrowDown')" onpointercancel="resetClick('ArrowDown')" id="right-arrows-up-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
            <button onpointerdown="clickDown('ArrowDown', 'ArrowDown')" onpointerup="resetClick('ArrowDown')" id="right-arrows-up-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
            {% else %}
            <!-- <button onpointerdown="clickDown3d4p('ArrowDown', 'ArrowDown')" onpointerup="resetClick('ArrowDown')" onpointercancel="resetClick('ArrowDown')" id="right-arrows-up-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
            <button onpointerdown="clickDown3d4p('ArrowDown', 'ArrowDown')" onpointerup="resetClick('ArrowDown')" id="right-arrows-up-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
            {% endif %}
        {% else %}
            {% if render == False %}
            <button onpointerdown="clickDown('ArrowDown', 'button3');" onpointerup="resetClick('button3')" onpointercancel="resetClick('button3')" id="right-arrows-up-2p-2d" class="m-2 arrows-btn rounded-2">
            <!-- <button onpointerdown="clickDown('ArrowDown', 'button3');" onpointerup="resetClick('button3')" id="right-arrows-up-2p-2d" class="m-2 arrows-btn rounded-2"> -->
            {% else %}
            <!-- <button onpointerdown="clickDown3d2p('ArrowDown', 'rightUp')" onpointerup="resetClick('rightUp')" onpointercancel="resetClick('rightUp')" id="right-arrows-up-2p-3d" class="m-2 arrows-btn rounded-2"> -->
            <button onpointerdown="clickDown3d2p('ArrowDown', 'rightUp')" onpointerup="resetClick('rightUp')" id="right-arrows-up-2p-3d" class="m-2 arrows-btn rounded-2">
            {% endif %}
        {% endif %}
                <i class="fas fa-solid fa-arrow-left"></i>
            </button>
        {% if game.maxPlayers == 4 %}
            {% if render == False %}
            <!-- <button onpointerdown="clickDown('ArrowUp', 'ArrowUp')" onpointerup="resetClick('ArrowUp')" onpointercancel="resetClick('ArrowUp')" id="right-arrows-down-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
            <button onpointerdown="clickDown('ArrowUp', 'ArrowUp')" onpointerup="resetClick('ArrowUp')" id="right-arrows-down-4p-2d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
            {% else %}
            <!-- <button onpointerdown="clickDown3d4p('ArrowUp', 'ArrowUp')" onpointerup="resetClick('ArrowUp')" onpointercancel="resetClick('ArrowUp')" id="right-arrows-down-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p"> -->
            <button onpointerdown="clickDown3d4p('ArrowUp', 'ArrowUp')" onpointerup="resetClick('ArrowUp')" id="right-arrows-down-4p-3d" class="m-2 arrows-btn rounded-2 d-flex justify-content-center align-items-center arrows-4p">
            {% endif %}     
        {% else %}
            {% if render == False %}
            <button onpointerdown="clickDown('ArrowUp', 'button4');" onpointerup="resetClick('button4');" onpointercancel="resetClick('button4');" id="right-arrows-down-2p-2d" class="m-2 arrows-btn rounded-2">
            <!-- <button onpointerdown="clickDown('ArrowUp', 'button4');" onpointerup="resetClick('button4');" id="right-arrows-down-2p-2d" class="m-2 arrows-btn rounded-2"> -->
            {% else %}
            <!-- <button onpointerdown="clickDown3d2p('ArrowUp', 'rightDown')" onpointerup="resetClick('rightDown')"  onpointercancel="resetClick('rightDown')" id="right-arrows-down-2p-3d" class="m-2 arrows-btn rounded-2"> -->
            <button onpointerdown="clickDown3d2p('ArrowUp', 'rightDown')" onpointerup="resetClick('rightDown')" id="right-arrows-down-2p-3d" class="m-2 arrows-btn rounded-2">
            {% endif %}    
        {% endif %}

                <i class="fas fa-solid fa-arrow-right"></i>
            </button>
        </div>
    {% endif %}

    </div>

{% if online == True %}
{% include "popup.html" %}
{% endif %}

</div>
<!-- <div id="background" class="rounded-2"></div> -->
</div>