{% csrf_token %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'lobby/lobby.css' %}">
{% endblock %}

<div class="justify-content-center p-3 mt-2">
    <h1 class="accent-color mb-3">Create a tournament</h1>
    <!-- <div>
        <label style="cursor: pointer;">
            <input type="radio" name="gameType" value="0" checked> Pong
        </label>
        <label style="cursor: pointer;">
            <input type="radio" name="gameType" value="1"> Connect4
        </label>
    </div> -->

    <button onclick="createTournament(event)">Create the tournament</button>

    <hr class="solid">
    <h3>Or join an existing one:</h3>
    <input id="tournamentId" placeholder="Lobby ID" style="background-color: var(--secondary-color); border: none;"></input>
<button onclick="join(event)">Join</button>
</div>

{% block javascripts %}
    <script src="{% static 'tournament/index.js' %}"></script>
{% endblock %}