{% csrf_token %}
{% load static %}
{% load i18n %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'tournament/index.css' %}">
{% endblock %}


<div id="tournament-content" class="d-flex flex-column align-items-center justify-content-center p-3">
    <h2 class="mb-3">{% translate "Ready to see who's the best?" %}</h2>
    <!-- <div>
        <label style="cursor: pointer;">
            <input type="radio" name="gameType" value="0" checked> Pong
        </label>
        <label style="cursor: pointer;">
            <input type="radio" name="gameType" value="1"> Connect4
        </label>
    </div> -->
    <div id="tournament-btn" class="d-flex justify-content-center align-items-center">
        <button class="rounded-2" onpointerdown="createTournament(event)" style="color: var(--background-color);">{% translate "Create a new tournament" %}</button>
    </div>

    <!-- <i class="fa-solid fa-medal" style="color: var(--fourth-color); font-size: 3.5rem;"></i> -->
    <!-- <hr class="solid">
    <h3>{% translate "Or join an existing one:" %}</h3>
    <input id="tournamentId" placeholder="Lobby ID" style="background-color: var(--secondary-color); border: none;"></input>
<button onclick="join(event)" style="color: var(--background-color);">{% translate "Join" %}</button> -->
</div>

{% block javascripts %}
    <script src="{% static 'tournament/index.js' %}"></script>
{% endblock %}