{% load static %}
{% load i18n %}
{% load chat %}
    <input type="hidden" name="pageKey" value="roomTournament">
    <input type="hidden" name="tournamentId" value="{{ room_name}}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{% static 'lobby/room.css' %}">
    {% endblock %}
    {% block javascripts %}
    <script src="{% static 'tournament/room.js' %}"></script>
    {% endblock %}
    <h2 class="p-3 mb-3 mt-2" style="color: var(--secondary-color);">{% translate "New tournament" %}</h2>
        <div class="section mt-0 rounded-4">
            <div class="d-flex flex-row justify-content-between">
                <h3 style="color: var(--accent-color); height: fit-content;" class="section-title rounded-2 px-2 py-1">{% translate "Users list :" %}
                </h3>
                <div id="userCount">0/{{ game.maxPlayers }}</div>
            </div>
            <ul id="playersList" style="padding: 0; list-style-type: none" class="mt-3">
            </ul>
        </div>
    <div id="buttons" class="d-flex section rounded-4">
        <button id="copy" onclick="copy_text('copy')"><i class="fa-regular fa-copy"></i></button>
        <button id="launchButton" onclick="tournament_launchGame()" disabled>{% translate "Launch" %}</button>
    </div>
<div style="margin-bottom: 95px;">
    {% chat room_name %}
</div>
