.profile-container {
    text-align: center;
}

.profile-picture-label {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#profile-pic-icon {
    position: absolute;
    left: 0rem;
    top: 0rem;
    border-radius: 50%;
    padding: 1rem;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    opacity: 0.6;
}

.profile-picture {
    height: 3rem; 
    width: 3rem; 
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* #profile-pic-ico:hover {
    background-color: var(--fourth-color);
    color: var(--secondary-color);
} */

.profile-pic-input {
    display: none;
}