.fas {
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#winner-msg-content {
	/* position: absolute;
	margin-top: 88vw; */
}

.onlineFullScreen {	
	/* position: absolute; */
	background-color: var(--fourth-color);
	/* color: var(--accent-color); */
	color: var(--secondary-color);
	/* font-size: x-large; */
	font-size: small;
	padding: 0;
	padding-left: .4rem;
	padding-right: .4rem;
	/* margin-top: 95.5vh; */
	/* margin-bottom: 80vh; */
	/* margin-right: 73vw; */
	/* margin-left: 73vw; */
	z-index: 9999;
	position: fixed;
	top: 0;
	/* right: 0; */
	/* margin-bottom: 1.5rem; */
	margin-right: 1.5rem;

	transform: rotate(-90deg);
	/* top left */
	/* margin-top: 10vh; */
	/* margin-left: 96vw; */
	/* middle left */
	margin-top: 42vh;
	margin-left: 93vw;

	width: max-content;
}
.onlineFullScreen:hover {
	color: var(--secondary-color);
}
.onlineFullScreen {
	/* right: 0; */
	margin-top: 8vh;
	/* margin-left: 96vw; */
}

#exitFullScreen, #enterFullScreen {
	display: none;
}

.fa-arrow-right, .fa-arrow-left {
	color: var(--accent-color);
}

.arrows-btn:hover {
	.fas {
		color: var(--secondary-color);
	}
}

.score-left-local-hor, .score-right-local-hor {
	display: none;
}

.user-img {
	height: 1.7rem;
	width: 1.7rem;
	border-radius: 50%;
}
.image-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color); /* Use your custom property */
	mix-blend-mode: multiply; /* Or screen, overlay, etc. */
	pointer-events: none;
}

#wrapper {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	/* overflow: hidden; */
}
#local-rotate {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.local-wrapper {
	width: 94vw;
}
.center-div {
	height: 65vh;
	margin: 1.5rem;
}
#center-div-local {
	width: 45vw;
}
#center-div-local-4p {
	width: 50vw;
}
#center-div-online {
	width: 65vw;
}

/* #### ARROWS #### */
.arrows-btn {
	user-select: none;
}
#online-arrows {
	margin-top: 3rem;
}

.local-arrows {
	transform: rotate(-90deg);
}
#up-arrows-4p {
	margin-bottom: 2rem;
	margin-top: 9rem;
}
#down-arrows-4p {
	margin-top: 2rem;
	margin-bottom: .5rem;
}
.local-arrows-left {
	transform-origin: top;
	margin-top: 0rem;
}
.local-arrows-right {
	transform-origin: bottom;
	margin-bottom: 7.5rem;
}
.local-arrows-right-4p {
	margin-bottom: 6rem;
	/* margin-left: 2rem; */
}
.local-arrows-left-4p {
	margin-bottom: 6rem;
	/* margin-right: 2rem; */
}
.arrows-4p {
	width: 35px;
}
.score-local {
	margin-left: 2rem;
	margin-right: 2rem;
	font-size: x-large;
}
/* #### RULES #### */
@media (min-width: 400px) {
	#rules {
		margin-top: 1rem;
		visibility: visible;
	}
}
.rule {
	border: solid 1px var(--secondary-color);
	padding: 0;
	/* width: 100vw; */
}
.rules-2p {
	margin-bottom: 3rem;
	font-size: smaller;
}
.rules-4p {
	font-size: .8rem;
	margin-bottom: 170px;
}

@media (max-width: 600px) {
	#center-div-local, #center-div-local-4p {
		width: 55vw;
	}
	.local-arrows-left {
		transform-origin: top;
		margin-top: 0rem;
		padding-top: .5rem;
	}
	.local-arrows-right {
		transform-origin: bottom;
		margin-bottom: 8.5rem;
		padding-bottom: .5rem;
	}
	.local-arrows-left-4p {
		transform-origin: top;
		margin-bottom: 2.5rem;
	}
	.local-arrows-right-4p {
		transform-origin: bottom;
		margin-bottom: 9rem;
	}
	.scores {
		font-size: .75rem;
	}
	.score-local {
		font-size: large;
	}
}

@media (max-width: 450px) and (max-height: 740px) {
    .pong-board-online {
        margin: 1rem;
    }
}

@media (max-width: 450px) and (min-height: 740px) {
    #center-div-online {
        width: 75vw;
    }
    .pong-board-online {
        margin: 2rem;
    }

}

.pong-main-content {
	margin-top: 12vh;
	/* background-color: var(--fourth-color); */
}
.pong-main-content-4p {
	margin-top: 15vh;
}

.scores {
	width: 100vw;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
}
.score {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	margin-top: .5rem;
}
#scores-online {
	width: 95vw;
}
.scores-local-2p {
	margin-bottom: 1rem;
}
.scores-local-4p {
	width: 50vw;
	margin-top: 7rem;
	margin-bottom: 1.5rem;
}
.score-4p-up {
	margin-bottom: .5rem;
}
.score-4p-left, .score-4p-right {
	margin-bottom: 6rem;
}
.score-4p-left-online, .score-4p-right-online {
	margin-bottom: 3.5rem;
}
.score-4p-down {
	margin-top: .5rem;
}


.start-btn-2p {
	color: var(--accent-color);
}
.start-btn-2p:hover {
	color: var(--secondary-color);
}
.start-btn-4p {
	font-size: 1rem;
	position: absolute;
	margin-bottom: 7.5rem;
	background-color: var(--background-color);
	color: var(--secondary-color);
	z-index: 999;
}
.start-btn-4p:hover {
	background-color: var(--accent-color);
	z-index: 999;
}

.pong-board {
	width: 100%;
	max-height: 55vh;
	max-width: 55vh;
}
.pong-board-4p {
	max-height: 35vh;
}


#leftPaddle, #rightPaddle {
    will-change: transform;
    backface-visibility: hidden;
    transition: all 50ms linear;
    -webkit-transition: all 50ms linear; /* Safari */
    -moz-transition: all 50ms linear; /* Firefox */
    -o-transition: all 50ms linear; /* Opera */
    
}

#gameBoard {
	border: 2px solid rgb(0, 0, 0);
	width: auto;
	height: auto;
	/* display: block;  */
	/* max-width: 80vh; */
	max-height: 100%;
    max-width: 100%;
    will-change: transform;
    backface-visibility: hidden;
}

#ball {
    transition: transform 50ms linear;
    -webkit-transition: transform 50ms linear; /* Safari */
    -moz-transition: transform 50ms linear; /* Firefox */
    -o-transition: transform 50ms linear; /* Opera */
}

.pong-board {
	/* margin-top: 5rem; */
	margin: 1.5rem;
}

/* @media (max-height: 900px) {
	#center-div-local-4p {
		width: 30vw;
	}
} */

@media (max-height: 700px) {
	#center-div-local-4p {
		width: 30vw;
	}
	/* #center-div-local {
		width: 10vw;
	}	 */
}

@media (max-height: 400px) {
	#center-div-local-4p {
		width: 3.5vw;
	}
	#rules {
		height: 0;
		width: 0;
		visibility: hidden;
	}
}
/* @media (max-width: 400px) and (max-height: 400px) {
	#center-div-local {
		width: 10vw;
	}	
} */
@media (max-width: 400px){
	.score1, .score2 {
		display: block;
		z-index: 1;
		font-size: 1rem;
		margin-top: .4em;
		margin-bottom: .4rem;
	}
	#local-rotate {
		transform: rotate(-90deg);
		width: 100vw;
		height: 90vh;
		position: relative;
	}
	.local-rotate-4p {
		margin-left: 2rem;
	}
	#pong-main-content-local {
		margin-top: 2rem;
		margin-right: 2rem;
	}
	#pong-main-content-online {
		margin-top: 1rem;
	}
	.local-wrapper {
		/* width: 100vw; */
		width: auto;
		overflow: visible;
		overflow: hidden;
		-webkit-overflow-scrolling: auto !important;
	}

	#online-arrows {
		margin-top: 0;
	}
	
	.center-div {
		height: 80vh;
		margin-top: 1rem;
	}

	#center-div-online {
		width: 75vw;
	}
	.scores {
		font-size: .75rem;
	}
	#scores-online {
		/* margin-top: 0rem; */
		margin-bottom: 0;
		font-size: .85rem;
	}
	.pong-board {
		/* margin-top: 5rem; */
		margin-bottom: 2rem;
		z-index: -1;
	}

	.local-arrows-right {
		margin-bottom: 7rem;
		padding-bottom: 0;
	}
	.local-arrows-left {
		margin-top: .5rem;
		padding-top: 0;
	}
	.local-arrows-right-4p {
		margin-bottom: 10.5rem;
		margin-left: 3rem;
	}
	.local-arrows-left-4p {
		margin-bottom: 4rem;
		margin-right: 3rem;
	}
	.arrows-4p {
		width: 8px;
	}
	#down-arrows-4p, #up-arrows-4p {
		margin: 0;
	}
	

	#center-div-local {
		width: 80vw;
		/* margin-bottom: 1rem;
		margin-top: 1.5rem; */
	}
	#center-div-local-4p {
		width: 50vw;
		/* margin-bottom: 1rem;
		margin-top: 5.1rem; */
		margin-top: 4.7rem;
	}
	.start-btn-2p {
		position: absolute;
		background-color: var(--background-color);
		color: var(--secondary-color);
		/* margin-bottom: 4.7rem; */
		margin-bottom: 3.7rem;

		z-index: 999;
	}
	.start-btn-2p:hover {
		background-color: var(--accent-color);

	}
	.start-btn-4p {
		/* margin-bottom: 13rem; */
		margin-bottom: 11.8rem;
	}
	#scores-local {
		font-size: .85rem;
		margin-top: 0;
		margin-bottom: .5rem;
		height: 0;
		width: 0;
		/* visibility: hidden; */
	}
	.score-4p {
		font-size: .85rem;
	}
	.score-4p-up, .score-4p-down {
		margin: 0;
	}
	.score-4p-left, .score-4p-right {
		margin-bottom: 7.5rem;
	}
	.score-4p-left-online, .score-4p-right-online {
		margin-bottom: 3rem;
	}
	#rules {
		height: 0;
		width: 0;
		visibility: hidden;
		/* display: none; */
	}

	#exitFullScreen {
		display: none;
	}
	#enterFullScreen {
		display: block;
	}
	#exitFullScreen, #enterFullScreen {	
		position: absolute;
		background-color: var(--fourth-color);
		color: var(--secondary-color);
		/* font-size: x-large; */
		font-size: medium;
		padding: 0;
		padding-left: .4rem;
		padding-right: .4rem;
		/* margin: auto; */
	}
	#exitFullScreen:hover, #enterFullScreen:hover {
		color: var(--secondary-color);
	}
	.fullScreen-btn-4P {
		margin-top: 11rem;
		margin-left: 10rem;
	}
	.fullScreen-btn-2P {
		margin-top: 5rem;
		margin-left: 11.6rem;
	}
	#winner-msg-content {
		position: absolute;
		margin-top: 88vw;
	}
}
/* 
#background {
	height: 85vh;
	width: 95vw;
	background-color: var(--fourth-color);
	position: absolute;
	z-index: -999;
} */

/* @media (max-width: 255px) {
	#player1, #player2 {
		margin-left: 1rem;
		margin-right: .5rem;
	}
} */