{%load static %}
{%load i18n %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'components/menu_bar.css' %}">
{% endblock %}

<script>
	let urls = {
		home: "/home/",
        tournament: "{% url 'tournament_index' %}",
		localgame: "{% url 'localgame' %}",
		lobby: "{% url 'lobby_index' %}",
		matchmaking: "{% url 'matchmaking' %}",
		game_select: "{% url 'game_select' %}",
		theme: "{% url 'theme' %}",
	};
</script>

<script src="{% static 'components/menu_bar.js' %}"></script>

{% block footer %}
<!-- <input class="m-3 fixed-bottom" type="checkbox" checked> -->
<nav id="nav" class="my-3 navbar navbar-custom rounded-4 fixed-bottom navbar-hide-on-scroll">

	<div class="container-fluid justify-content-center align-items-center">

		<!-- <div class="test"> -->
			<a style="margin-left: .7rem;" class="navbar-brand background-color" href="/home/" onclick="loadPageEvent(event,'/home/')">
				<div class="icon-text-container">
					<i class="fas fa-user-astronaut"></i>
					<div class="nav-item-text">{% translate "Profile"%}</div>
				</div>
			</a>
		<!-- </div> -->

		<!-- <div class="test"> -->
			<a class="expand-content navbar-brand background-color" href="{% url 'tournament_index' %}" onclick="loadPageEvent(event, urls.tournament)">
				<div class="icon-text-container">
					<i class="fas fa-solid fa-trophy"></i>
					<div class="nav-item-text">{% translate "Tournament"%}</div>
				</div>
			</a>
		<!-- </div> -->



		<!-- <div class="test"> -->
			<a id="expand-content-2" class="navbar-brand accent-color" href="{% url 'game_select' %}" onclick="loadPageEvent(event, urls.game_select)" >
				<div class="icon-text-container">
					<i class="fas fa-solid fa-play"></i>
					<!-- <i class="fas fa-solid fa-users"></i> -->
					<!-- <i class="fas fa-solid fa-rectangle"></i> -->
					<div class="nav-item-text">{% translate "Play"%}</div>
				</div>
			</a>
		<!-- </div> -->

		<!-- <a class="navbar-brand accent-color" href="{% url 'localgame' %}" onclick="loadPageEvent(event, {{ localgame_url|json_script:'localgame_url' }})" > -->
		<!-- <div class="test"> -->
			<a class="navbar-brand background-color" href="{% url 'lobby_index' %}" onclick="loadPageEvent(event, urls.lobby)" >
				<div class="icon-text-container">
					<i class="fas fa-solid fa-plus"></i>
					<div class="nav-item-text">{% translate "Lobby"%}</div>
				</div>
			</a>
		<!-- </div> -->

		<!-- <div class="test"> -->
			<!-- <a class="expand-content navbar-brand background-color" href="{% url 'lobby_index' %}" onclick="loadPageEvent(event, urls.matchmaking)" >
				<div class="icon-text-container">
					<i class="fas fa-solid fa-comments"></i>
					<div class="nav-item-text">Matchmaking</div>
				</div>
			</a> -->
		<!-- </div> -->

		<!-- <div class="test"> -->
			<a class="expand-content navbar-brand background-color" href="/settings/" onclick="loadPageEvent(event,'/settings/')">
				<div class="icon-text-container">
					<!-- <i class="fas fa-solid fa-user"></i> -->
					<i class="fas fa-solid fa-gears"></i>
					<div class="nav-item-text">{% translate "Settings"%}</div>
				</div>
			</a>
		<!-- </div> -->

		<!-- <div class="test"> -->
			<a onclick="expandMenu()" id="navbar-toggler" class="shrink-content navbar-brand background-color" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<!-- <input class="content-toggler" type="checkbox" id="content-toggler"/> -->
				<div class="icon-text-container">
					<i class="fas fa-solid fa-bars"></i>
					<div class="nav-item-text">{% translate "More"%}</div>
				</div>
			</a>
		<!-- </div> -->
	</div>
	<!-- <script>
		function handleClick(event, url) {
    loadPageEvent(event, url); // Call the existing function
    setTimeout(() => {
        location.reload(); // Refresh the page after a short delay
    }, 27); // Delay ensures the loadPageEvent completes first
}
	</script> -->
</nav>
{% endblock %}