<form id="login">
    {% csrf_token %}
    
    <!-- Profile Picture Field -->
    <input type="text" name="id" id="id" required>
    
    <!-- Submit Button -->
    <button type="submit">Login</button>
</form>
<script>
    document.getElementById('login').addEventListener('submit', function(event) {
        event.preventDefault(); 

        const formData = new FormData(this);
        document.cookie = "id=" + formData.get("id") + "; expires=Thu, 18 Dec 2040 12:00:00 UTC; path=/";
    });
</script>
