{% load static %}
<link rel="stylesheet" href="{% static 'user-management/userComponent.css' %}">

<div id="userComponent">
    <a href="/profil/{{ user.playerId }}/" onclick="loadPageEvent(event,'/profil/{{ user.playerId }}/')" style="color: var(--secondary-color); text-decoration: none;">
        <div class="d-flex align-items-center" style="margin-bottom: 0;">
                <img class="usr-img mx-1 mr-3" src="/api/player/{{ user.playerId }}/avatar" style="height: 1.7rem; width: 1.7rem; border-radius: 50%;" />
                <p style="margin-bottom: 0; margin-left: .2rem;">
                    {{ user.username }}
                </p>
        </div>
    </a>
</div>
