<!-- <div data-partial="home" class="d-flex justify-content-center align-items-center "> -->
<!-- <div data-partial="home"> -->
    <!-- <h1>Partial</h1> -->

    <!-- <h1 id="home-title">
        Hello!
    </h1>
    <h1 id="home-title2">
        Hello!
    </h1>-->
    <h1 id="home-title3"> 
        Hello!
    </h1>
    <!-- <h1 id="home-title4">
        Hello!
    </h1> -->

    <a href="{% url 'theme' %}" onclick="loadPageEvent(event, urls.theme)">
        <button class="position-absolute top-0 end-0 btn btn-lg" style="margin-top: .25rem; border: none;">
            <i style="color: var(--accent-color);" class="fas fa-solid fa-gear"></i>
        </button>
    </a>

    <div class="justify-content-center mt-5 m-2 p-3">
        {% include "components/game_picker.html" %}
    </div>

<!-- </div> -->