{% load i18n %}

<div id="modal">
    <div class="modal-content d-flex justify-content-center align-items-center">
        <h3 id="typeVictory" style="display: none">{% translate "Victory!" %}</h3>
        <h3 id="typeDefeat" style="display: none">{% translate "Defeat!" %}</h3>
        <h3 id="typeWait" style="display: none"> {% translate "Waiting for:" %} </h3>
        <h3 id="typeCrash" style="display: none"> {% translate "Game has crashed" %} </h3>
        <ul id="playersList" style="list-style-type: none; padding-left: 0;"></ul>
        <p id="messageWon" style="display: none"> {% translate "has won!" %}</p>
        <p id="message"></p>
    </div>
</div>
<style>
    /* The Modal's container */
    #modal {
        display: none; /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
        justify-content: center;
        align-items: center;
    }

    /* Modal Content */
    .modal-content {
        background-color: var(--accent-color);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 85vw;
        max-width: 300px;
        text-align: center;
    }
</style>