label .color-input {
  pointer-events: none;
}

label .custom-color {
  pointer-events: all;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: transparent;
  background: none;
  text-shadow: 0 0 0 #000;
  cursor: pointer;
  height: 1.5rem;
  /* border: none; */
  margin: 2px;
  /* border-radius: 100%; */
  padding: 0;
  border-radius: 12px;

  -webkit-text-fill-color:#880000;
  -webkit-opacity:1;
  color:#880000;
}

/* @media (max-width: 575px) {
  input[type="color"] {
    height: 1rem;
  }
} */

.color-input::-webkit-color-swatch {
  border-radius: 12px;
  /* Rounded corners for the color swatch in Webkit browsers */
  border: none;
}

.color-input::-moz-color-swatch {
  border-radius: 12px;
  /* Rounded corners for the color swatch in Firefox */
  border: none;
}

.color1 {
  border: solid .05rem var(--secondary-color);
  /* box-shadow: 0 0 10px .1rem var(--accent-color); */
}
.color2 {
  border: solid .05rem var(--background-color);
}
.color3 {
  border: solid .05rem var(--accent-color);
}

.colorscheme {
  padding: .7rem;
  width: fit-content;
  margin: .4rem;
}

.colorscheme:hover {
  background-color: var(--fourth-color);
  /* cursor: pointer; */
}

input[type="radio"] {
  /* position: absolute; */
  opacity: 0;
  visibility: hidden;
}

.input-label {
  cursor: pointer;
  border: solid 1px transparent;
  margin: .2rem;
}

.input-label:hover {
  background-color: var(--fourth-color);
  border: solid 1px var(--secondary-color);
}

#custom-color-label:hover {
  border: solid 1px transparent;
}

input[type="radio"]:checked + .input-label {
  background-color: var(--fourth-color);
  border: solid 1px var(--secondary-color);
}

#submit-theme {
  -webkit-appearance: none;
  /* color: var(--accent-color); */
}